My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        176
      ],
      "id": "5bcd08c8-ac71-4df8-a0c8-7522d403a46f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"Zamaida Restaurant\".\n\nRules:\n\n1. When user sends first message (hi, hello), reply with:\n\"Welcome to Zamaida Restaurant 🍽️\nHow can I help you today?\n- 🛒 Place an order\n- ℹ️ FAQ / Information\n- 📦 Check order / stock\"\n\n2. If user wants order:\n- STEP 1: First ask ONLY these 3 details:\n  \"Please share your details:\n   1. Your Name\n   2. Mobile Number\n   3. Delivery Address\"\n- STEP 2: Wait for customer reply\n- STEP 3: Then ask food item and quantity\n- STEP 4: Check Inventory sheet\n- STEP 5: If available confirm, if not reject\n- NEVER place order without name, mobile, address, quantity\n- NEVER skip any step\n\n3. If user wants FAQ:\n- Answer short and clear\n\n4. If user wants check order/stock:\n- Ask order id or food name\n- Check Google Sheets\n\n5. If user wants cancel order:\n- Reply: \"Sorry 🙏 Please call owner: +95 1224567890\"\n\n6. Always reply short like WhatsApp chat\n7. Use *stars* for highlighting only\n8. Reply in customer's language but english alphabet only\n9. If customer talks in Hindi, reply in Hindi but \nalways use English alphabet. \nExample: \"Aapka order confirm ho gaya hai ✅\"\nNever use Devanagari script (क ख ग).\n\n10.IMPORTANT - After confirming order, you MUST:\n- Call Post Orders tool immediately\n- Save these fields:\n  Order_id: generate a unique id like ORD001, ORD002\n  Customer_Name: from customer\n  Contact_no: from customer\n  Food_Item: from customer\n  Address: from customer\n  Quantity_Ordered: from customer\n  Status: Confirmed or Rejected\n- NEVER say order confirmed without saving to sheet first\n\nSTRICT RULES:\n- NEVER mention delivery time\n- NEVER calculate total bill\n- NEVER say order is on the way\n- Only confirm order is saved\n- Always save to Post Orders sheet before confirming\nSTRICT RULES:\n- ONLY answer about food items in the Inventory sheet\n- If customer asks about anything other than food, \n  ordering, FAQ or order status - reply:\n  \"Sorry, I can only help with food orders 🍽️\"\n- NEVER make up offers, discounts or free items\n- NEVER answer questions outside restaurant scope"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        -80
      ],
      "id": "3afb920f-0884-4600-9875-02d794bdbf31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        32,
        128
      ],
      "id": "e44e0ab2-38a0-41f5-bd25-573da7717a08",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "E6sGhKCyoPhdfAc7",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get restaurant menu and inventory. \nReturns list of dishes with name, price and availability. \nDo not pass any parameters to this tool.",
        "documentId": {
          "__rl": true,
          "value": "1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs",
          "mode": "list",
          "cachedResultName": "Resturant Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        208
      ],
      "id": "506a477e-07ad-464d-9d18-5ac204644d76",
      "name": "inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6UZzzlyeWFmZ6clq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to save every confirmed or rejected order \nto Google Sheets. Always call this tool after every order.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs",
          "mode": "list",
          "cachedResultName": "Resturant Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 183888548,
          "mode": "list",
          "cachedResultName": "Post Order",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs/edit#gid=183888548"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_id', ``, 'string') }}",
            "Customer_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Contact_no": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_no', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Order date": "={{$now.format('yyyy-MM-dd hh-mm-ss')  }}",
            "Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Address', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order_id",
              "displayName": "Order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact_no",
              "displayName": "Contact_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order date",
              "displayName": "Order date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        704,
        192
      ],
      "id": "6bf454cf-d060-4e1b-a83e-445a9bf671f4",
      "name": "Post order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6UZzzlyeWFmZ6clq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get FAQ information about the restaurant \nlike delivery time, payment methods, restaurant hours, \nlocation etc. Do not pass any parameters to this tool.",
        "documentId": {
          "__rl": true,
          "value": "1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs",
          "mode": "list",
          "cachedResultName": "Resturant Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1428251678,
          "mode": "list",
          "cachedResultName": "FAQs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IwhW79ytGOKPOLC5TSSY_EYhyIhfFq3FGji4kfRopYs/edit#gid=1428251678"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        528,
        208
      ],
      "id": "cbe9ca7d-85b7-4721-8422-ef52ebfcf5e4",
      "name": "FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6UZzzlyeWFmZ6clq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        0
      ],
      "id": "9deccfb0-8717-4859-9755-77fb6e5ee698",
      "name": "Telegram Trigger",
      "webhookId": "9cfe48f5-10bd-4940-805c-c2c58063553a",
      "credentials": {
        "telegramApi": {
          "id": "tbZ3U3miGT5QEU6S",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -80
      ],
      "id": "4bc64025-251e-4821-9255-ae6e0bd2b284",
      "name": "Send a text message",
      "webhookId": "018d813b-a6bc-48e8-854a-9b2e8ea9eb44",
      "credentials": {
        "telegramApi": {
          "id": "tbZ3U3miGT5QEU6S",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2381611e-ecc0-4872-b182-0a405157f3db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25a31fd7c23bf975f97de4318cccd8bc56eb725884a29d3869c328f846a25361"
  },
  "id": "pjI1ybeyTdpnRgbS",
  "tags": []
}